COURSE_ROOT_0="C:\Users\Amir\Downloads"
COURSE_ROOT_1="C:\Users\Amir\Videos\4K Video Downloader+"

# PostgreSQL (used for local development)
POSTGRES_DB=opencourser
POSTGRES_USER=opencourser
POSTGRES_PASSWORD=opencourser
POSTGRES_HOST=localhost
POSTGRES_PORT=5432